{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% load i18n %}
{% load account socialaccount %}


{% block content %}

{% load static %}
<style>
  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }

  .login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: #243b55;
    background-image: url(/static/subsInventory/img/backgrounds/VodCon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
  }

  .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin: 0 0 30px;
    padding: 0;
    color: rgb(247, 244, 246);
    font-style: inherit;
    text-align: center;
  }

  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    padding-top: 8px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    top: -30px;
    border-radius: 20px;
    margin-left: 95px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .login-box button {
    height: 40px;
    border: none;
  }

  .login-box button:focus,
  .login-box button:valid {
    border-color: #9b59b6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
  }

  .login-box i {
    margin-top: -20px;
  }

  .login-box i a {

    text-decoration: none;
    color: #ed5fdc;
    margin-left: 30px;
    font-size: small;
    font-style: normal;
    margin-top: -30px;
  }

  .login-box i a:hover {
    background: transparent;
    color: #9b59b6;
    box-shadow: none;
  }

  .requiredField {
    display: none;
  }

  .form-check-label {
    color: rgb(191, 1, 216);
    font-size: small;
    font-weight: bold;
    margin-top: 10px;
  }

  .form-check-input {
    margin-top: -1px;
  }

  .form-group input {
    font-size: small;
    height: 40px;
  }

  .form-control:focus,
  .form-control:valid {
    border-color: #ed5fdc;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
  }

  .form-group {
    height: 40px;
    width: 100%;
  }


  .textinput {
    font-size: medium;
  }

  .alert {
    background-color: rgb(250, 132, 105);
    border: none;
    margin-top: -20px;
    transition: all .10s;
  }

  .alert ul {
    font-size: small;
    color: #fff;
  }

  ::marker {
    display: none;
    color: transparent;
  }


  .login-box i button {
    text-align: justify;
    text-decoration: none;
    color: #ed5fdc;
    margin-left: 45px;
    font-size: small;
    font-style: normal;
    padding-top: -20%;
  }

  .login-box i button:hover {
    background: transparent;
    color: rgb(243, 166, 226);
    box-shadow: none;
  }

  .login-box button:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    color: #fff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 5px #aa1999,
      0 0 25px #aa1999,
      0 0 50px #aa1999,
      0 0 100px #aa1999;
  }

  .login-box button span {
    position: absolute;
    display: block;
    border-radius: 5px;
  }

  .login-box button span:nth-child(1) {
    top: 0;
    border: 1px;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #aa1999);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }

    50%,
    100% {
      left: 100%;
    }
  }

  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #aa1999);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }

    50%,
    100% {
      top: 100%;
    }
  }

  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -90%;
    width: 90%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #aa1999);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }

    50%,
    100% {
      right: 100%;
    }
  }

  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #aa1999);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }

    50%,
    100% {
      bottom: 100%;
    }
  }
</style>

<div class="login-box">
  <div class="title text-center">LOG IN</div>
  <div class="content">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form | crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>Sign In</button>
  </div>
  <i><a href="{% url 'account_reset_password' %}">Forgot password?</a></i>
  <i><a href=" {{ signup_url }}" class="create">create one</a></i>
  </form>
</div>


{% endblock %}