{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<style>
  html {
 height: 100%;
}

body {
 margin: 0;
 padding: 0;
 font-family: sans-serif;
 background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #243b55;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.login-box h1{
    color: rgb(245, 241, 241);
    margin-left: 50px;
    
}

.login-box p{
    color: rgb(238, 111, 170);
    font-size: smaller;
    margin-left: 25px;
}

button {
  margin-left: 35%;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: rgb(253, 253, 253);
  box-shadow: none;
  border-color: none;
  height: 35px;
  width: 100px;
  border-radius: 10px;
}

button:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  transform: scale(0.9);
}



</style>

<div class="login-box">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>

{% endblock %}
