{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<style>
  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #243b55;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .login-box h1 {
    color: rgb(245, 241, 241);
  }

  .login-box p {
    color: rgb(238, 111, 170);
    font-size: smaller;
  }

  .requiredField {
    display: none;
  }

  .textinput {
    font-size: medium;
  }

  .input {
    color: #ed5fdc;
  }

  .form-control:focus,
  .form-control:valid {
    border-color: #ed5fdc;
    box-shadow: none;
  }

  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    padding-top: 7px;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    top: -20px;
    border-radius: 20px;
    margin-left: 40%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .login-box button {
    height: 35px;
    border: none;
  }

  .requiredField {
    display: none;
  }

  .form-group input {
    font-size: small;
  }

  .form-control:focus,
  .form-control:valid {
    border-radius: 5px;
    border-color: #ed5fdc;
  }

  .form-group {
    height: 40px;
    width: 100%;
  }


  .textinput {
    font-size: medium;
  }

  .login-box button:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px #aa1999,
      0 0 25px #aa1999,
      0 0 50px #aa1999,
      0 0 100px #aa1999;
  }

  .login-box button span {
    position: absolute;
    display: block;
    border-radius: 5px;
  }

  .login-box button span:nth-child(1) {
    top: 0;
    border: 1px;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #aa1999);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }

    50%,
    100% {
      left: 100%;
    }
  }

  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #aa1999);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }

    50%,
    100% {
      top: 100%;
    }
  }

  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -90%;
    width: 90%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #aa1999);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }

    50%,
    100% {
      right: 100%;
    }
  }

  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #aa1999);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }

    50%,
    100% {
      bottom: 100%;
    }
  }

  .dismiss {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 2px;
    transition: all .3s;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
  }

  .dismiss:hover,
  .dismiss:focus {
    background: transparent;
    color: #fff;
  }

  .dismiss:before,
  .dismiss:after {
    content: '';
    width: 55%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 48%;
    left: 22%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .dismiss:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .dismiss:hover:before,
  .dismiss:hover:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
</style>

<div class="login-box">
  <div class="content">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>"Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
      reset it."</p>
    <a href="{{ login_url }}" class="dismiss">
    </a>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      {{ form | crispy }}
      <button class="primaryAction" type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>{% trans "Send" %}</button>
  </div>
  </form>
</div>


{% endblock %}