{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
    html {
   height: 100%;
 }

 body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background: linear-gradient(#141e30, #243b55);
 }

 .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #243b55;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
  }

  .login-box h1{
      color: rgb(245, 241, 241);
  }

  .login-box p{
      color: rgb(238, 111, 170);
      font-size: smaller;
  }

  .requiredField{
      display: none;
  }

.textinput{
   font-size: medium;
 }

 .input {
     color: #ed5fdc;
 }

 .form-control:focus,
 .form-control:valid{
    border-radius: 5px;
    box-shadow: #ed5fdc;
    border-color: #ed5fdc;
 }

button, input{
    background-color: #f3f0f3;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: none;
}
.button input{
    margin-left: 120px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: rgb(253, 253, 253);
    box-shadow: none;
    border-color: none;
}

.button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    transform: scale(0.9);
}
.dismiss {
	width: 35px;
	height: 35px; 
	position: absolute; 
	top: 5px;
	right: 2px;
	transition: all .3s; 
	border-radius: 20px; 
	text-align: center; 
	line-height: 35px; 
	cursor: pointer;
}

.dismiss:hover, .dismiss:focus { 
	background: rgb(238, 111, 170); 
	color: #fff; 
}

.dismiss:before,
.dismiss:after {
  content: '';
  width: 55%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dismiss:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dismiss:hover:before,
.dismiss:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


</style>

<div class="login-box">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <a href="{{ login_url }}" class="dismiss">
    </a>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="button">
        <input type="submit" value="{% trans 'Send' %}" />
    </div>
    </form>
</div>
    {% endblock %}
