{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(#141e30, #243b55);
    }

    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: #243b55;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        border-radius: 20px;
    }

    .login-box h1 {
        color: rgb(245, 241, 241);
    }

    .login-box p {
        color: rgb(238, 111, 170);
        font-size: smaller;
    }
</style>
<div class="login-box">
    <h1>{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
</div>
{% endblock %}