{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/billing/monthlycharge_list.css' %} ">
</head>
<body>
    <div class="container">
        <a class=" btn btn-customized4" href="{% url 'bill:month_create'%}">Create Monthly Charge</a>
        <div class="title text-center">MONTHLY CHARGE</div>
        <div class="content">
            <form action="#">
                <div class="tableFixHead">
                <table class="table table-dark  table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Client Fullname</th>
                            <th scope="col">Client Code</th>
                            <th scope="col">Voda Connect Number</th>
                            <th scope="col">Type Of Plan</th>
                            <th scope="col">Total Cost</th>
                            <th scope="col">Month Covered</th>
                            <th scope="col">Date Of Payment </th>
                            <th scope="col">Reference</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for monthlycharge in list %}
                        <tr>
                            <th scope="row">{{monthlycharge.client_full_name}}</th>
                            <td>{{monthlycharge.client_code}}</td>
                            <td>{{monthlycharge.vodaconnect_number}}</td>
                            <td>{{monthlycharge.plan_type}}</td>
                            <td>{{monthlycharge.total_cost}}</td>
                            <td>{{monthlycharge.month_covered}}</td>
                            <td>{{monthlycharge.date_payment}}</td>
                            <td>{{monthlycharge.reference}}</td>
                            <td>{{monthlycharge.status}}</td>
                            <!-- <td><a href="{% url 'bill:month_detail' monthlycharge.id %}">View</td> -->
                            <td><a class="btn btn-customized5" href=" {% url 'bill:month_Update' monthlycharge.id %}">Update
                                    Details</td>
                            <!-- <td><a href="{% url 'bill:month_delete' monthlycharge.id %}">Delete</td> -->
                            {% empty %}
                            <tr>
                                <td class="text-secondary text-center" colspan="10">No records to show.</td>
                            </tr>
                            {% endfor %}
    
                    </tbody>
                </table>
            </div>
            </form>
        </div>
    </div>
    </div>
    
</body>
</html>

{% endblock %}