{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/billing/monthlycharge_form.css' %} ">
</head>
<body>
    <div class="container">
        <div class="title">ADD BILLING</div>
        <br>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                <table class="table table-dark table-bordered table-striped">
                    {{form | crispy}}
                </table>
                <div class="text-right">
                    <button type="submit" class="btn btn-customized1 float-right">Add</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}