{% extends 'base.html' %}
{% load  static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/billing/othercharge_list.css' %} ">
</head>
<body>
    <div class="container">
        <a class=" btn btn-customized4" href="{% url 'bill:othercharge_create'%}">Create Other Charge</a>
        <div class="title text-center">OTHER CHARGES</div>
        <div class="content">
            <form action="#">
                <div class="tableFixHead">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date </th>
                            <th scope="col">Vodaconnect Number</th>
                            <th scope="col">Type charge</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment Reference</th>
                            <th scope="col">Status</th>
                            <th scope="col">Notes</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for OtherCharge in list %}
                        <tr>
                            <th scope="row">{{OtherCharge.date}}</th>
                            <td>{{OtherCharge.vodaconnect_number}}</td>
                            <td>{{OtherCharge.type_charge}}</td>
                            <td>{{OtherCharge.amount}}</td>
                            <td>{{OtherCharge.pay_ref}}</td>
                            <td>{{OtherCharge.status}}</td>
                            <td>{{OtherCharge.notes}}</td>
                            <td><a class="btn btn-customized5"
                                    href="{% url 'bill:othercharge_update' OtherCharge.id %}">Update
                                    Details</td>
                            {% empty %}
                            <tr>
                                <td class="text-secondary text-center" colspan="10">No records to show.</td>
                               </tr>
                            {% endfor %}
    
                    </tbody>
                </table>
            </div>
            </form>
        </div>
    </div>
    </div>
</body>
</html>

{% endblock %}