@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#141e30, #243b55);
    background-attachment: fixed;

}

.container {
    max-width: 20%;
    width: 100%;
    background: #243b55;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin-left: 78%;
}

.container1 {
    max-width: 50%;
    width: 100%;
    background: #243b55;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin-left: 25%;
    margin-top: -13.5%;
}

.container .title {
    font-size: 16px;
    font-weight: 500;
    margin-left: -5%;
    color: #e442d7;
    margin-top: -15px;
    margin-bottom: 5px;
}

.container1 .title1 {
    font-size: 16px;
    font-weight: 500;
    margin-left: -80%;
    color: #f3eff2;
    margin-top: -2%;
    font-size: small;
}

.btn-customized1 {
    top: 0px;
    margin-top: 10px;
    color: #f3eff2;
    height: 40px;
    border-radius: 10px;
    padding-top: 10px;
    margin-right: -230%;
    display: flex;
    padding-left: 20%;
    width: 130%;
    font-size: small;
    background: #e442d7;
}

.btn-customized1:hover {
    color: #f3eff2;
    transform: scale(0.9);
}

.btn-customized1:focus,
.btn-customized1:valid {
    background-color: #b84faf;
    color: #f3eff2;
    box-shadow: none;
}

form .table {
    color: #f3eff2;
    font-size: small;
}

.table {
    width: 200%;
}

.card {
    border-radius: 50px;
    margin-left: 60px;
    height: 80%;
    width: 100%;
    background-color: transparent;
}

.username {
    color: #059629;
    margin-top: 5px;
    margin-right: -100%;
    font-size: small;
}

.email {
    margin-top: -7px;
    color: #059629;
    margin-left: 25px;
    font-size: small;
}

.asteriskField {
    display: none;
}

.requiredField {
    margin-top: -2%;
    display: block;
    font-size: small;
    position: absolute;
}

.content form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: -70%;
}

.form-text {
    display: none;
}

.form-control:focus,
.form-control:valid {
    border-color: #ed5fdc;
    background-color: transparent;
    color: white;
    box-shadow: none;
}

.form-control {
    width: 120%;
}

.form-group {
    width: 47%;
    margin-left: -6%;
    margin-right: -2%;
    margin-top: 4%;
}

.textInput {
    font-size: small;
}

.emailinput {
    font-size: small;
    pointer-events: none;
    cursor: not-allowed;
}

.select {
    width: 140%;
    pointer-events: none;
}

.form-control1 {
    cursor: not-allowed;
    background-color: #243b55;
    border-color: #ed5fdc;
    box-shadow: none;
}

.form-control5 {
    cursor: not-allowed;
    background-color: #243b55;
    border-color: #ed5fdc;
    box-shadow: none;
}

.form-control6 {
    cursor: not-allowed;
    background-color: #243b55;
    border-color: #ed5fdc;
    box-shadow: none;
}

@media only screen and (min-width: 1514px){
    .container {
    max-width: 20%;
    width: 100%;
    background: #243b55;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin-left: 78%;
    margin-top: 1%;
}
.container1 {
    max-width: 50%;
    width: 100%;
    background: #243b55;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin-left: 25%;
    margin-top: -12%;
}
}