{% extends 'SubscribersInventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(#141e30, #243b55);
        background-attachment: fixed;
    }

    .container {
        max-width: 70%;
        width: 100%;
        background: #243b55;
        padding: 25px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        margin-left: 25%;
    }

    .container1 {
        max-width: 170%;
        width: 750%;
        background: #243b55;
        padding: 25px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        margin-left: 30%;
        margin-top: -68%;
    }

    .container .title {
        font-size: 16px;
        font-weight: 500;
        margin-left: -80%;
        color: #e442d7;
        margin-top: -10px;
        margin-bottom: -1%;
    }

    .container .title1 {
        font-size: 16px;
        font-weight: 500;
        margin-left: -80%;
        margin-top: -15px;
        margin-bottom: 20px;
    }

    a.btn-customized1 {
        top: 0px;
        margin-top: 15px;
        color: #f3eff2;
        height: 55px;
        padding-top: 15px;
        margin-left: -10px;
        display: flex;
        padding-top: 8px;
        width: 130px;
        font-size: small;
        border-color: #ffa5f7;
        border-radius: 10px;
    }

    a.btn-customized1:hover {
        background: #e442d7;
        color: #f3eff2;
    }

    a.btn-customized1:focus {
        background-color: #b84faf;
        color: #f3eff2;
    }

    a.btn-customized1:valid {
        background-color: #b84faf;
        color: #f3eff2;
    }

    a.btn-customized2 {
        top: 0px;
        margin-top: 15px;
        color: #f3eff2;
        height: 55px;
        margin-left: -10px;
        display: flex;
        padding-top: 18px;
        width: 130px;
        font-size: small;
        padding-left: 25px;
        border-color: #ffa5f7;
        border-radius: 10px;
    }

    a.btn-customized2:hover {
        background: #e442d7;
        color: #f3eff2;
    }

    a.btn-customized2:focus {
        background-color: #b84faf;
        color: #f3eff2;
    }

    a.btn-customized2:valid {
        background-color: #b84faf;
        color: #f3eff2;
    }

    .form-group {
        width: 40%;
    }

    .form-control {
        background-color: #243b55;
    }

    .content form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: -70%;
    }

    .asteriskField {
        display: none;
    }

    .requiredField {
        margin-left: -35%;
        margin-bottom: -10%;
        font-size: small;
    }

    label {
        margin-left: -20%;
        margin-bottom: -10%;
        font-size: small;
    }

    .dateinput {
        color: #0da34b;
        font-size: small;
    }

    .select {
        font-size: small;
    }

    form .button {
        height: 45px;
        margin-left: 98px;
    }

    form .button a:hover {
        background: transparent;
        color: rgb(243, 166, 226);
        box-shadow: none;
    }

    form .button button {
        height: 90%;
        width: 140%;
        border-radius: 20px;
        border: none;
        color: #fff;
        margin-left: 240%;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    form .button button:hover {
        transform: scale(0.9);
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

    @media(max-width: 584px) {
        .container {
            max-width: 100%;
        }
    }

    .form-control:focus,
    .form-control:valid {
        border-radius: 5px;
        border-color: #ed5fdc;
    }
</style>

<div class="container">
    <div class="title text-center">PHONELINES INVENTORY</div>
    <div class="content">
        <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details_add' %}">Activation Details</a>
        <a class="btn btn-customized2" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
        <div class="container1">
            <div class="title1 text-light text-center">ACTIVATION DETAILS</div>
            <div class="content ms-4">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="button text-center">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>
</div>

</div>


</div>


{% endblock %}