{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/subscribersInventory/forwardinginfo_list.css' %} ">
</head>
<body>
    <div class="container">
        <div class="title text-center">PHONELINES INVENTORY</div>
        <div class="content">
            <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details_list' %}">Activation Details</a>
            <a class="btn btn-customized2" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
            <div class="container1">
                <div class="title1 text-center">FORWARDING INFORMATION</div>
                <div class="content">
                    <form action="#">
                        <a class="btn btn-customized6" href="{% url 'subs_Inv:forwardinginformation_add' %}">Add
                            Number</a>
                        <br>
                        {% include 'SubscribersInventory/forwardiinginfo/forwardingnum.html' %}
    
                        <a class="btn btn-customized7" href="{% url 'subs_Inv:totalnumextension_add' %}">Add
                            Extension</a>
                        <div class="title2 text-center">TOTAL NUMBER OF EXTENSION</div>
                        {% include 'SubscribersInventory/forwardiinginfo/totalnumextension.html' %}
    
                        <a class="btn btn-customized8" href="{% url 'subs_Inv:ziptrunklogindetail_add' %}">Add Ziptrunk</a>
                        <div class="title3 text-center">ZIPTRUNK LOG IN DETAILS</div>
                        {% include 'SubscribersInventory/forwardiinginfo/ziptrunkdetails.html' %}
    
                        <a class="btn btn-customized9" href="{% url 'subs_Inv:otherlogin_add' %}">Add Extension</a>
                        <div class="title4 text-center">OTHER LOGIN</div>
                        {% include 'SubscribersInventory/forwardiinginfo/otherlogins.html' %}
    
                        <a class="btn btn-customized10" href="{% url 'subs_Inv:notes_add' %}">Add Notes</a>
                        <div class="title5 text-center">NOTE</div>
                        {% include 'SubscribersInventory/forwardiinginfo/notes.html' %}
                    </form>
                </div>
               
            </div>
        </div>
        <br><br>
    </div>
    
    </div>
    
    
    </div>
    
</body>
</html>

{% endblock %}