{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/subscribersInventory/note_update.css' %} ">

</head>
<body>
    <div class="container">
        <div class="title text-center">ADD NOTES</div>
        <br>
        <div class="content">
            <form method="post" action="">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="button text-center">
                    <button type="submit">Update</button>
                </div>
            </form>
    
        </div>
        <br>
    </div>
    
    </div>
    
    
    </div>
    
</body>
</html>


{% endblock %}