{% extends 'base.html' %}



{% block content %}
<br>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#141e30, #243b55);
    background-attachment: fixed;
  }

  .container {
    max-width: 70%;
    width: 100%;
    background: #243b55;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin-left: 25%;
  }

  .container1 {
    max-width: 170%;
    width: 750%;
    background: #243b55;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    margin-left: 30%;
    transition: 10s;
    transition-delay: 10s;
    margin-bottom: -50px;
    margin-top: -77%;
  }

  .container .title {
    font-size: 16px;
    font-weight: 500;
    margin-left: -80%;
    color: #e442d7;
    margin-top: -10px;
    margin-bottom: -1%;
  }

  .container .title1 {
    font-size: 14px;
    font-weight: 500;
    margin-left: -78%;
    margin-top: -15px;
    margin-bottom: 20px;
    color: #0da34b;
  }

  a.btn-customized1 {
    top: 0px;
    margin-top: 15px;
    color: #f3eff2;
    height: 55px;
    padding-top: 15px;
    margin-left: -10px;
    display: flex;
    padding-top: 8px;
    width: 130px;
    font-size: small;
    border-color: #ffa5f7;
    border-radius: 10px;
  }

  a.btn-customized1:hover {
    background: #e442d7;
    color: #f3eff2;
  }

  a.btn-customized1:focus {
    background-color: #b84faf;
    color: #f3eff2;
  }

  a.btn-customized1:focus,
  a.btn-customized1:valid {
    background-color: #b84faf;
    color: #f3eff2;
    border-color: #ed5fdc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
  }

  a.btn-customized2 {
    top: 0px;
    margin-top: 15px;
    color: #f3eff2;
    height: 55px;
    margin-left: -10px;
    display: flex;
    padding-top: 18px;
    width: 130px;
    font-size: small;
    padding-left: 25px;
    border-color: #ff8ff6;
    border-radius: 10px;
  }

  a.btn-customized2:hover {
    background: #e442d7;
    color: #f3eff2;
  }

  a.btn-customized2:focus {
    background-color: #b84faf;
    color: #f3eff2;
  }

  a.btn-customized2:focus,
  a.btn-customized2:valid {
    background-color: #b84faf;
    color: #f3eff2;
    border-color: #ed5fdc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
  }

  form .table {
    color: #f3eff2;
    font-size: small;
  }

  .table {
    width: 200%;
    margin-top: -4%;
  }

  .table tbody th {
    font-weight: normal;
  }

  .table thead th {
    color: #0da34b;
  }
</style>

<div class="container">
  <div class="title text-center">PHONELINES INVENTORY</div>
  <div class="content">
    <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
    <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details_list' %}">Activation Details</a>
    <a class="btn btn-customized2" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
    <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
    <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
    <div class="container1">
      <div class="title1 text-center">SUBSCRIBERS STATUS</div>
      <div class="content">
        <form action="#">
          <table class="table table-dark table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Status Production</th>
                <th scope="col">Type Of Request</th>
                <th scope="col">Ready For Testimony?</th>
              </tr>
            </thead>
            <tbody>
              {% for voipinformation in voip %}
              <tr>
                <th scope="row">None</th>
                <td>New Number Request</td>
                <td>Not Applicable</td>
              </tr>
              {% empty %}

              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br>
</div>

</div>


</div>



{% endblock %}