{%  extends 'VOIPLine/base.html' %}

{% load static%}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(#141e30, #243b55);
  background-origin: content-box;
}
.container{
  max-width: 20%;
  width: 100%;
  background: #243b55;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin-left: 78%; 
}

.container1{
  max-width: 50%;
  width: 100%;
  background: #243b55;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin-left: 25%; 
  margin-top: -21.2%;
}

.container2{
  max-width: 50%;
  width: 100%;
  background: #243b55;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin-left: 25%;
}

.container3{
  max-width: 50%;
  width: 100%;
  background: #243b55;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin-left: 25%; 
}

.container .title{
  font-size: 16px;
  font-weight: 500;
  margin-left: -5%;
  color: #e442d7;
  margin-top: -15px;
  margin-bottom: 5px;
}

.container .title1{
  font-size: 16px;
  font-weight: 500;
  margin-left: -80%;
}

a.btn-customized1{
    top: 0px;
    margin-top: 15px;
    color: #f3eff2;
    height: 55px;
    padding-top: 15px;
    margin-left: -10px;
    display: flex;
    padding-top: 8px;
    width: 130px;
    font-size: small;  
}

a.btn-customized1:hover{
    background: #e442d7;
    color: #f3eff2;
}

a.btn-customized1:focus{
    background-color: #b84faf;
    color: #f3eff2;
}
a.btn-customized1:valid {
      background-color: #b84faf;
      color: #f3eff2;
    }

    form .table{
    color: #f3eff2;
    font-size: small; 
}
 
.table{
    width: 200%;
}

.table tbody th{
    font-weight: normal;
}

.table a[data-toggle="dropdown"] {
	color: #eee;
	width: 1px;
	height: 2px;
	margin-top: -15px;
	margin-right: 5px;
	box-shadow: none;
} 

.custom-select{
    font-size: small;
    margin-left: 133%;
    margin-bottom: -93%;
}

.card{
    border-radius: 50px;
    margin-left: 50px;
    height: 50%;
    width: 100%;
}

.username{
    color: #059629;
    margin-top: 5px;
    margin-right: -100%; 
}

.email{
    margin-top: -7px;
    color: #059629;
    font-size: small;
    margin-left: 20px;
}

</style>

<div class="container">
    <div class="title text-center fas fa-user">YOUR PROFILE</div>
    <div class="content">
            <img class="card" src="{% static 'subsInventory/img/backgrounds/liza.png' %}" class="card-img-top" alt="...">
        <div class="username">
        {{user.first_name}} {{user.last_name}}
    </div>
    <div class="email">
        {{user.email}}
    </div>
        </div>
          </div>
        </div>
    </div>
    <br>
    <div class="container1">
        <div class="title text-center">PHONELINES INVENTORY</div>
        <div class="content">
            <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details' %}">Activation Details</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
            </div>
              </div>
              <br>
    <div class="container2">
        <div class="title text-center">PHONELINES INVENTORY</div>
        <div class="content">
            <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details' %}">Activation Details</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
            <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
            </div>
              </div>
              <br>
              <div class="container3">
                <div class="title text-center">PHONELINES INVENTORY</div>
                <div class="content">
                    <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
                    <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details' %}">Activation Details</a>
                    <a class="btn btn-customized1" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
                    <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
                    <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
                    </div>
                      </div>
            </div>
        </div>



{% endblock %}
