{%  extends 'VOIPLine/base.html' %}



{% block content %}
<br>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(#141e30, #243b55);
}
.container{
  max-width: 70%;
  width: 100%;
  background: #243b55;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  margin-left: 25%;
}

.container1{
  max-width: 170%;
  width: 750%;
  background: #243b55;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(248, 100, 231, 0.6);
  margin-left: 30%;
  margin-top: -80%;
  transition: 10s;
  transition-delay: 10s;
  margin-bottom: -50px;
}

.container .title{
  font-size: 16px;
  font-weight: 500;
  margin-left: -80%;
  color: #e442d7;
}

.container .title1{
  font-size: 16px;
  font-weight: 500;
  margin-left: -80%;
}

a.btn-customized1{
    top: 0px;
    margin-top: 15px;
    color: #f3eff2;
    height: 55px;
    padding-top: 15px;
    margin-left: -10px;
    display: flex;
    padding-top: 8px;
    width: 130px;  
}

a.btn-customized1:hover{
    background: #e442d7;
    color: #f3eff2;
}

a.btn-customized1:focus{
    background-color: #b84faf;
    color: #f3eff2;
}
a.btn-customized1:valid {
      background-color: #b84faf;
      color: #f3eff2;
    }

form .table{
    color: #f3eff2;
    font-size: small; 
}
 
.table{
    width: 200%;
}

</style>

<div class="container">
    <div class="title text-center">PHONELINES INVENTORY</div>
    <div class="content">
        <a class="mt-5 btn btn-customized1" href="{% url 'subs_Inv:voip_info' %}">VOIP Information</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:activation_details' %}">Activation Details</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:plan_details' %}">Plan Details</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:subs_status' %}">Subscriber Status</a>
        <a class="btn btn-customized1" href="{% url 'subs_Inv:forward_info' %}">Forwarding Information</a>
        <div class="container1">
                 <div class="title1 text-light text-center">VOIP INFORMATION</div>
                <div class="content">
                  <form action="#">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">VODA Connect Number</th>
                            <th scope="col">Client Fullname</th>
                            <th scope="col">Client Code</th>
                            <th scope="col">Company Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                  </form>
                </div>
              </div>
        </div>
        <br><br>
     </div>
     <br><br><br><br><br><br>
{% endblock %}
