{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/forwardinginfo/totalnumextensions.css' %} ">
</head>
<body>
    <div class="tableFixHead">
        <table class="table table-dark text-left table-striped">
            <thead>
                <tr>
                    <th scope="col">Extension Number</th>
                    <th scope="col">Extension logins</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for TotalNumExtension in totalnumextension_list %}
                <tr>
                    <th scope="row">{{ TotalNumExtension.extension_num }}</th>
                    <td>{{ TotalNumExtension.extension_logins }}</td>
                    <td>{{ TotalNumExtension.notes }}</td>
                    <td><a class="btn btn-customized5"
                            href="{% url 'subs_Inv:totalnumextension_update' TotalNumExtension.id %}">Update</td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td class="text-secondary text-center" colspan="10">No records to show.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

