<table class="table table-dark  text-left table-striped">
    <thead>
        <tr>
            <th scope="col">Ziptrunk logins</th>
            <th scope="col"> Ziptrunk details</th>
            <th scope="col">Notes</th>
            <th scope="col">Create</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for ZiptrunkLoginDetail in list %}
        <tr>
            <th scope="row">{{ ZiptrunkLoginDetail.ziptrunk_logins }}</th>
            <td>{{ ZiptrunkLoginDetail.ziptrunk_details }}</td>
            <td>{{ ZiptrunkLoginDetail.notes }}</td>
            <td><a class="text-primary" href="">Add Ziptrunk</td>
            <td><a class="text-primary" href="">Update</td>

        </tr>
        {% empty %}

        {% endfor %}
    </tbody>
</table>