{% extends 'base.html' %}



{% block content %}
<br>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(#141e30, #243b55);
        background-attachment: fixed;
    }

    .container {
        max-width: 89%;
        width: 100%;
        background: #243b55;
        padding: 25px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        margin-left: 9%;
        margin-top: 1%;
    }

    .container .title {
        font-size: 16px;
        font-weight: 500;
        margin-left: -90%;
        color: #f5eff4;
        margin-top: -34px;
        margin-bottom: 3%;
    }


    form .table {
        color: #f3eff2;
        font-size: small;
    }

    .table {
        width: 200%;
        margin-top: 0;
    }

    .table tbody th {
        font-weight: normal;
    }

    .custom-select {
        font-size: small;
        margin-left: 133%;
        margin-bottom: -93%;
    }

    .table thead th {
        color: #0da34b;
    }

    .tableFixHead {
        overflow-y: auto;
        height: 300px;
        width: 200%;
        margin-top: -5%;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        height: 150%;
    }

    td {
        padding-top: 50%;
    }

    th,
    td {
        padding: 8px 16px;
        border: 1px solid #ccc;
    }

    th {
        background: #eee;
    }

    a.btn-customized4 {
        color: #eef0f1;
        font-weight: 20;
        background-color: #e442d7;
        font-size: small;
        margin-bottom: 0px;
        margin-left: 85%;

    }

    a.btn-customized4:hover {
        background: #e442d7;
        color: #f3eff2;
        transform: scale(0.9);
    }

    a.btn-customized4:focus,
    a.btn-customized4:valid {
        background-color: #b84faf;
        color: #f3eff2;
        border-color: #ed5fdc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    }
</style>

<div class="container">
    <a class=" btn btn-customized4" href="">Create Account Files</a>
    <div class="title text-center">Account Files</div>
    <div class="content">
        <form action="#">
            <div class="">
                <table class="table table-dark table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Client code</th>
                            <th scope="col">Client full name</th>
                            <th scope="col">File name</th>
                            <th scope="col">Url</th>
                            <th scope="col">File description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for AccountFile in list %}
                        <tr>
                            <td>{{ AccountFile.client_code }}</td>
                            <td>{{ AccountFile.client_full_name }}</td>
                            <td>{{ AccountFile.file_name }}</td>
                            <td>{{ AccountFile.url }}</td>
                            <td>{{ AccountFile.file_description }}</td>
                        </tr>
                        {% empty %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>
</div>


{% endblock %}