{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/accountfiles/accountfile_list.css' %} ">
</head>
<body>
    <div class="container">
        <a class=" btn btn-customized4" href="{% url 'acc_file:accountfile_add' %}">Create Account Files</a>
        <div class="title text-center">Account Files</div>
        <div class="content">
            <form action="#">
                <div class="tableFixHead">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Client code</th>
                                <th scope="col">Client full name</th>
                                <th scope="col">File name</th>
                                <th scope="col">Url</th>
                                <th scope="col">File description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for AccountFile in list %}
                            <tr>
                                <td>{{ AccountFile.client_code }}</td>
                                <td>{{ AccountFile.client_full_name }}</td>
                                <td>{{ AccountFile.file_name }}</td>
                                <td>{{ AccountFile.url }}</td>
                                <td>{{ AccountFile.file_description }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="text-secondary text-center" colspan="10">No records to show.</td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    </div>
    
</body>
</html>

{% endblock %}