    {% extends 'base.html' %}
    {% load crispy_forms_tags %}
    {% load static%}
    {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/authentication/clientpersonalfile_form.css' %} ">
</head>
<body>
    <div class="container1">
        <div class="title1 text-center">EDIT CLIENT FILES</div>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                </table>
                <div class="text-right">
                    <button type="submit" class="btn btn-customized1 float-right">Update</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</body>
</html>

    {% endblock content %}