{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/authentication/clientpersonalfile_list.css' %} ">
</head>
<body>
    <div class="container">
        <a class=" btn btn-customized4" href="{% url 'auth:personalfile_create'%}">Add Client Files</a>
        <div class="title text-center">Client Files</div>
        <div class="content">
            <form action="#">
                <div class="tableFixHead">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">File Title </th>
                                <th scope="col">Url</th>
                                <th scope="col">Description</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ClientPersonalFile in list %}
                            <tr>
                                <th scope="row">{{ClientPersonalFile.file_title}}</th>
                                <td>{{ClientPersonalFile.url}}</td>
                                <td>{{ClientPersonalFile.description}}</td>
                                <td><a class="btn btn-customized5"
                                        href="{% url 'auth:personalfile_update' ClientPersonalFile.id %}">Update
                                        Details</td>
                                {% empty %}
                                <tr>
                                    <td class="text-secondary text-center" colspan="10">No records to show.</td>
                                   </tr>
                                {% endfor %}
    
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    </div>
    
</body>
</html>

{% endblock %}