{% extends 'base.html' %}

{% load static%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'subsInventory/css/authentication/profile.css' %} ">
    
</head>
<body>
    <div class="container">
        <div class="title text-center">YOUR PROFILE</div>
        <div class="content">
            <img class="card" src="{{ request.user.user.profile_picture.url }}">
            <div class="username">
                {{user.first_name}} {{user.last_name}}
            </div>
            <div class="email">
                {{user.email}}
            </div>
        </div>
    </div>
    <br>
    <div class="container1">
        <div class="title1 text-light text-center">EDIT CLIENT PROFILE</div>
        <div class="content">
            <form action="#">
                <table class="table table-dark table-bordered table-striped text-left">
                    <tbody>
                        <tr>
                            <th>User Name</th>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>{{user.first_name}}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{user.last_name}}</td>
                        </tr>
                        <tr>
                            <th>Phone number</th>
                            <td>{{user.phone_number}}</td>
                        </tr>
                        <tr>
                            <th>Email Address</th>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <th>Pin Number</th>
                            <td>{{user.create_pin}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a class="btn btn-customized1" href="{% url 'auth:update_profile'%}">Edit</a>
                </div>
            </form>
        </div>
    </div>
    <br><br><br>
    <div class="container2">
        <div class="title text-center">EDIT CLIENT INFORMATION</div>
        <div class="content">
            <form action="#">
                <table class="table table-dark table-bordered table-striped text-left">
                    <tbody>
                        <tr>
                            <th>Company name</th>
                            <td>{{user.company_name}}</td>
                        </tr>
                        <tr>
                            <th>Designation name</th>
                            <td>{{user.designation_name}}</td>
                        </tr>
                        <tr>
                            <th>Affiliate partner code</th>
                            <td>{{user.client.affiliate_partner_code}}</td>
                        </tr>
                        <tr>
                            <th>Affiliate partner name</th>
                            <td>{{user.client.affiliate_partner_name}}</td>
                        </tr>
                        <tr>
                            <th>Lead information</th>
                            <td>{{user.client.lead_information}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a class="btn btn-customized1" href="{% url 'auth:update_information'%}">Edit</a>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>

{% endblock content %}