{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        height: 100vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: linear-gradient(#141e30, #243b55);
        background-attachment: fixed;
    }

    .container {
        max-width: 65%;
        width: 100%;
        background: #243b55;
        padding: 25px 30px;
        border-radius: 15px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
        margin-left: 25%;
    }

    .container .title {
        font-size: 16px;
        font-weight: 500;
        margin-left: -75%;
        color: #e442d7;
        margin-top: -10px;
        margin-bottom: -1%;
    }

    a.btn-customized1 {
        top: 0px;
        margin-top: 15px;
        color: #f3eff2;
        height: 55px;
        padding-top: 15px;
        margin-left: -10px;
        display: flex;
        padding-top: 8px;
        width: 130px;
        font-size: small;
        border-color: #ffa5f7;
        border-radius: 10px;
    }

    a.btn-customized1:hover {
        background: #e442d7;
        color: #f3eff2;
    }

    a.btn-customized1:focus {
        background-color: #b84faf;
        color: #f3eff2;
    }

    a.btn-customized1:focus,
    a.btn-customized1:valid {
        background-color: #b84faf;
        color: #f3eff2;
        border-color: #ed5fdc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    }

    a.btn-customized2 {
        top: 0px;
        margin-top: 15px;
        color: #f3eff2;
        height: 55px;
        margin-left: -10px;
        display: flex;
        padding-top: 18px;
        width: 130px;
        font-size: small;
        padding-left: 25px;
        border-color: #ffa5f7;
        border-radius: 10px;
    }

    a.btn-customized2:hover {
        background: #e442d7;
        color: #f3eff2;
    }

    a.btn-customized2:focus {
        background-color: #b84faf;
        color: #f3eff2;
    }

    a.btn-customized2:focus,
    a.btn-customized2:valid {
        background-color: #b84faf;
        color: #f3eff2;
        border-color: #ed5fdc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    }

    .form-group {
        width: 45%;
        margin-left: 2%;
        margin-right: -5%;
    }

    .form-control {
        width: 110%;
        background-color: transparent;
        border-color: none;
    }

    .content form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0%;
        margin-right: -70%;
    }

    .asteriskField {
        display: none;
    }

    .requiredField {
        margin-left: 10%;
        margin-bottom: -10%;
        font-size: small;
    }

    label {
        margin-left: -1%;
        margin-bottom: -10%;
        font-size: small;
    }

    .dateinput {
        color: #0da34b;
        font-size: small;
    }

    .numberinput {
        font-size: small;
        color: #0da34b;
    }

    .select {
        font-size: small;
        color: #0da34b;
    }

    .textarea {
        font-size: small;
        color: #0da34b;
        padding-top: 15px;
        line-height: 8px;
    }

    .emailinput {
        font-size: small;
        color: #0da34b;
    }

    .textinput {
        font-size: small;
        color: #0da34b;
    }

    form .button {
        height: 45px;
        margin-left: 85px;
    }

    form .button a:hover {
        background: transparent;
        color: rgb(243, 166, 226);
        box-shadow: none;
    }

    form .button button {
        height: 80%;
        width: 130%;
        border-radius: 20px;
        border: none;
        color: #fff;
        margin-left: 380%;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 30%;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    form .button button:hover {
        transform: scale(0.9);
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

    @media(max-width: 584px) {
        .container {
            max-width: 100%;
        }
    }

    .form-control:focus,
    .form-control:valid {
        border-color: #ed5fdc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    }

    .form-control1 {
        width: 110%;
        background-color: #243b55;
        border-color: #ed5fdc;
    }

    .form-control1:focus,
    .form-control1:valid {
        border-color: #ed5fdc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    }

    .form-control3 {
        width: 110%;
        color: #0da34b;
        background-color: transparent;
        margin-top: 10%;
        border-color: #ed5fdc;
    }

    .form-control3:active {
        background-color: transparent;
    }

    .form-control3:focus,
    .form-control3:valid {
        border-color: #ed5fdc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(15, 10, 10, 0.6);
    }
</style>

<div class="container">
    <div class="title text-center">CREATE ORDER REQUEST</div>
    <br>
    <div class="content">
        <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="button text-center">
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>
    <br>
</div>

</div>


</div>


{% endblock %}