@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body { font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300; color: #888; line-height: 30px; text-align: center; }

html {
	height: 100%;
  }
  body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background: linear-gradient(#141e30, #243b55);
	background-attachment: fixed;
  }

strong { font-weight: 500; }

a:hover, a:focus { color: #f35b3f; border: 0; text-decoration: none; }

h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 100; color: #555; line-height: 50px; }
h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }
h4 { font-size: 18px; font-weight: 300; color: #555; line-height: 26px; }

img { max-width: 100%; }

.medium-paragraph { font-size: 18px; line-height: 34px; }

::-moz-selection { background: #f35b3f; color: #fff; text-shadow: none; }
::selection { background: #f35b3f; color: #fff; text-shadow: none; }

/***navbar***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.navbar button[data-toggle="dropdown"] {
	color: #eee;
	width: 1px;
	height: 2px;
	margin-left: -15px;
	margin-top: -15px;
	margin-right: 5px;
	box-shadow: none;
} 

.navbar button:hover{
	color: #e442d7;
}

.navbar ul{
	margin-left: -50%;
	margin-top: 5px;
	color: #ccc;
	font-weight: bold;
	font-size: small;
	font-family: Poppins;
}

.navbar { 
	background-color: #17293d;
}

.dropdown-menu {
	top: 45px;
	margin-right: 20px;
	min-width: fit-content;
	height: 90px;

}

.dropdown-item {
	font-weight: bolder;
	font-style: normal;
	font-variant: small;
	font-size: small;
	text-align: justify;
	font-family: Poppins;
}

/***** Wrapper *****/

.wrapper { display: block; }

/***** Sidebar *****/

.sidebar {
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	width: 250px;
	height: 88%;
	position: fixed; 
	margin-top: 6%;
	left: -258px;
	z-index: 999; 
	background: #20344b;
	color: #fff; 
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
	font-family: Poppins;
	transition: all .4s;
}

.sidebar.active {
	left: 7px;
	position: fixed;
	}

.sidebar.active::before,
.sidebar.active::after{
	left: 7px;
	position: absolute;
}

.dismiss {
	width: 25px;
	height: 25px; 
	position: absolute; 
	top: 5px;
	right: 2px;
	transition: all .3s; 
	border-radius: 20px; 
	text-align: center; 
	line-height: 35px; 
	cursor: pointer;
}

.dismiss:hover, .dismiss:focus { 
	background: transparent; 
	color: #fff; 
}

.dismiss:before,
.dismiss:after {
  content: '';
  width: 50%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dismiss:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.dismiss:hover:before,
.dismiss:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.circular{
	width:  43px;
    height: 38px;
	margin-left: -50%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	border-top-left-radius:  100%;
	border-top-right-radius:  100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
}

.circular1{
	width:  45px;
    height: 35px;
	margin-left: -10px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	border-top-left-radius:  100%;
	border-top-right-radius:  100%;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
}

.circular3{
	width: 20%;
    height: 38px;
	margin-right: 110%;	
}


.sidebar ul.menu-elements { 
	padding: 20px 0; 
	height: 50%;
	margin-bottom: 50px;
	transition: all .3s; 
	font-weight: 100 bold;
	font-size: small;
	position: relative;
	margin-top: 10%;
}

.sidebar ul li a {
	display: block; 
	padding: 10px 20px;
	border: 0; color: lightcyan;
	font-size: small;
}

.sidebar ul a{
	display: block;
	box-sizing: border-box;
	border-top: 1px solid rgb(105, 109, 105) ;
	border-bottom: 1px solid black;
	transition: .4s;
}

ul li:hover a{
	padding-left: 30px;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover
.sidebar ul li.active > a:focus {
	outline: 0; 
	background: rgb(4, 128, 49); 
	color: #fff; 
}

.sidebar ul li a i { margin-right: 5px; }

.sidebar ul li.active > a, a[aria-expanded="true"] {
	background: transparent;
	color: #fff;
}

.sidebar ul ul a:hover {
	padding-left: 30px; 
	font-size: 14px; 
	padding-left: 30px;
}

.sidebar ul ul li.active > a { background: rgb(218, 214, 214); }

.sidebar a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .dark-light-success-buttons { padding: 10px 20px 30px 20px; text-align: center; }

/* sidebar light */

.sidebar.light { background: #fff; color: #888; }

.sidebar.light hr {
	border-width: 2px;
	color: black;
}

.sidebar.light .dismiss { 
	background: rgb(134, 132, 132); 
	color: rgb(19, 18, 18);
}

.sidebar.light ul.menu-elements { border-color: #444(234, 243, 235); }

.sidebar.light ul li a {
	color: rgb(19, 17, 17);
	font-weight: bolder;
}

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active > a:hover,
.sidebar.light ul li.active > a:focus { background: rgb(10, 90, 27); color: rgb(234, 243, 235); }

.sidebar.light ul li.active > a, .sidebar.light a[aria-expanded="true"] {
	background: #fff;
	color: rgb(19, 16, 16);
}

.sidebar.light ul ul a { background: #fff; }

.sidebar.light ul ul li.active > a { background: #fff; }

.sidebar.light a.btn-customized-3 { background: #ddd; color: #444; }


.sidebar.light a.btn-customized-3:hover, 
.sidebar.light a.btn-customized-3:active, 
.sidebar.light a.btn-customized-3:focus, 
.sidebar.light a.btn-customized-3:active:focus, 
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ddd; color: #444;
}

.sidebar.light a.btn-customized-4.btn-customized-dark { background: black; }
.sidebar.light a.btn-customized-4.btn-customized-light { background: #eee; }
.sidebar.light a.btn-customized-4.btn-customized-success { background: rgb(4, 102, 12); }

.sidebar.light a.btn-customized-4.btn-customized-dark:hover, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active, 
.sidebar.light a.btn-customized-4.btn-customized-dark:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: black; color: black;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover, 
.sidebar.light a.btn-customized-4.btn-customized-light:active, 
.sidebar.light a.btn-customized-4.btn-customized-light:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc; color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-success:hover, 
.sidebar.light a.btn-customized-4.btn-customized-success:active, 
.sidebar.light a.btn-customized-4.btn-customized-success:focus, 
.sidebar.light a.btn-customized-4.btn-customized-success:active:focus, 
.sidebar.light a.btn-customized-4.btn-customized-success.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-success.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-success.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: rgb(6, 155, 18); color: #fff;
}

/***** Content *****/
.content {
	width: 50%;
	transition: all 10s;
}

.container4 .open-menu{
	margin-top: 8%;
	display: grid;
	height: 70%;
	z-index: 997;
	background-color: #3c444f;
	margin-left: -20px;
	padding-left: 15px;
	border-radius: 20px;
	position: fixed;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}


.open-menu {
	position: fixed ; 
	top: 0px; 
	left: 10px; 
	z-index: 1111;
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2); 
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover, 
.open-menu.btn-customized:active, 
.open-menu.btn-customized:focus, 
.open-menu.btn-customized:active:focus, 
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

/***** Buttons *****/

a.btn-customized {
	margin-left: 0px; margin-right: 5px; padding: .75rem 1rem; position: fixed;
	background: transparent; border: 0; border-radius: 4px; 
	font-size: 25px; color: #fff; margin-bottom: 2px;
}

a.btn-customized3 {
	margin-left: 0px;
	margin-right: 5px; 
	padding: .75rem 1rem; 
	z-index: 997;
	background: transparent; 
	border: 0; 
	border-radius: 20px; 
	font-size: 15px; 
	color: #fff; 
	margin-bottom: 20px;
	
}

a.btn-customized:active,
a.btn-customized:focus, 
a.btn-customized.active:focus{
	background: transparent;
}
a.btn-customized:active:focus,
a.btn-customized:hover,
a.btn-customized.btn.btn-light:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-light:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: linear-gradient(#f17a35, #976211); border: 0; color: #fff; box-shadow: none;
}

a.btn-customized3:active,
a.btn-customized3:focus, 
a.btn-customized3.active:focus{
	background: transparent;
	border-radius: 100%;
}
a.btn-customized3:active:focus,
a.btn-customized3:hover,
a.btn-customized3.btn.btn-light:not(:disabled):not(.disabled):active,
a.btn-customized3.btn.btn-light:not(:disabled):not(.disabled):active:focus {
	background: linear-gradient(#f17a35, #976211);
	border: 0; 
	color: #fff; 
	box-shadow: none;
	margin-bottom: 50%;
	border-radius: 100%;
}


a.btn-customized-2 {
	margin-left: 5px; margin-right: 5px; padding: .75rem 1.5rem; 
	background: #fff; border: 0; border-radius: 4px; 
	font-size: 16px; font-weight: 300; color: #555; box-shadow: none;
}

a.btn-customized-2:hover, 
a.btn-customized-2:active, 
a.btn-customized-2:focus, 
a.btn-customized-2:active:focus, 
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #ccc; background: rgba(255, 255, 255, 0.5); border: 0; color: #555; box-shadow: none;
}

a.btn-customized-3 {
	display: inline-block;
	width: 100%; 
	margin: 0; 
	padding: .75rem 1.5rem; 
	background: #444;
	border: 0; 
	border-radius: 4px; 
	font-size: 20px; 
	font-weight: 400 bold;  
	color: #fff; 
	box-shadow: none;
}

a.btn-customized-3:hover, 
a.btn-customized-3:active, 
a.btn-customized-3:focus, 
a.btn-customized-3:active:focus, 
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: #444; border: 0; color: #fff; box-shadow: none;
}

a.btn-customized i, 
a.btn-customized-2 i,
a.btn-customized-3 i { margin-right: 5px; }


a.btn-customized-4 {
	display: inline-block; width: 28px; height: 28px; margin: 0 3px; padding: 0; 
	background: #444; border: 0; border-radius: 50%;
	font-size: 16px; font-weight: 300; color: rgb(255, 255, 255); box-shadow: none; text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark { background: rgb(17, 16, 16); }
a.btn-customized-4.btn-customized-light { background: #fff; }
a.btn-customized-4.btn-customized-success { background: rgb(4, 102, 12); }



a.btn-customized-4.btn-customized-dark:hover, 
a.btn-customized-4.btn-customized-dark:active, 
a.btn-customized-4.btn-customized-dark:focus, 
a.btn-customized-4.btn-customized-dark:active:focus, 
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: black; border: 0; color: rgb(10, 10, 10); box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover, 
a.btn-customized-4.btn-customized-light:active, 
a.btn-customized-4.btn-customized-light:focus, 
a.btn-customized-4.btn-customized-light:active:focus, 
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: rgb(202, 199, 199); border: 0; color: #fff;  box-shadow: none;
}

a.btn-customized-4.btn-customized-success:hover, 
a.btn-customized-4.btn-customized-success:active, 
a.btn-customized-4.btn-customized-success:focus, 
a.btn-customized-4.btn-customized-success:active:focus, 
a.btn-customized-4.btn-customized-success.active:focus,
a.btn-customized-4.btn-customized-success.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-success.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0; background: rgb(3, 146, 15); border: 0; color: rgb(4, 102, 12);  box-shadow: none;
}






